<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sudip Sojitra</title>
    <link rel="icon" type="image/x-icon" href="../assets/img/a1.png">
    <link rel="stylesheet" href="../assets/css/style.css">

    <!-- box icon -->
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css">

</head>

<body>
    <header class="header">
        <a href="#" class="logo">Sudip Sojitra</a>
        <div class="bx bx-menu" id="menu-icon">
            <box-icon name="menu"></box-icon>
        </div>
        <nav class="navbar">
            <a href="#home" class="active">Home</a>
            <a href="#about">About</a>
            <a href="#education">Education</a>
            <a href="#skills">Skills</a>
            <a href="#concat">Contact</a>
        </nav>
    </header>

    <section class="home" id="home">
        <div class="home-content">
            <h1>Hi, I am <span>Sudip Sojitra</span></h1>
            <div class="text-animate">
                <h3>Full Stack Developer</h3>
            </div>
            <p>I have the power to code to create a dynamic and interactive website experience. Those skills leverage Python's versatility, frameworks and libraries to build robust and scalable web applications. From building user interfaces to managing
                databases, his expertise covers the entire spectrum of web development.</p>
            <div class="btn-box">
                <a href="file:///C:/Users/lenovo/OneDrive/Desktop/sudipResume.pdf" target="_blank" download="sudipResume.pdf" class="btn">Hire Me</a>
                <a href="mailto:sudipsojitra2509@gmail.com" class="btn">Let's Talk</a>
            </div>
        </div>
        <div class="home-sci">
            <a href="https://www.instagram.com/sudip_sojitra_007/" target="_blank"><i class="bx bxl-instagram"></i></a>
            <a href="https://www.linkedin.com/in/sudip-sojitra-223932215/" target="_blank"><i class="bx bxl-linkedin"></i></a>
            <!-- <a href="https://github.com/sudipsojitra"><i class="bx bxl-github"></i></a> -->
            <a href="https://github.com/sudipsojitra" target="_blank"><i class="bx bxl-git"></i></a>
        </div>
        <div class="home-imgHover">

        </div>
    </section>
    <section class="about" id="about">
        <h2 class="heading">About <span>Me</span></h2>
        <div class="about-img">
            <img src="../assets/img/a2.png" alt="">
            <span class="circle-spin"></span>
        </div>
        <div class="about-content">
            <h3>Full Stack Developer!</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste neque eos praesentium dolores quis ut sed obcaecati velit maiores, cum suscipit non. Sapiente, tempora? Possimus architecto ad quia amet earum, suscipit nemo illo itaque sequi
                id ipsa tempora, corporis nihil quaerat in voluptates ratione consequuntur repudiandae nesciunt voluptate! Illum, vitae.</p>
            <div class="btn-box btns">
                <a href="#" class="btn">Read More</a>
            </div>
        </div>
    </section>

    <!-- education section -->
    <section class="education" id="education">
        <h2 class="heading">My <span>journey</span></h2>
        <div class="education-row">
            <div class="education-column">
                <h3 class="title">Education</h3>
                <div class="education-box">
                    <div class="education-content">
                        <div class="content">
                            <div class="year"><i class="bx bxs-calendar"></i>2017-2018</div>
                            <h3>Master Degree - University</h3>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum impedit cupiditate amet! Quasi itaque magni corrupti dolor laudantium nobis consequuntur.</p>
                        </div>
                    </div>
                    <div class="education-content">
                        <div class="content">
                            <div class="year"><i class="bx bxs-calendar"></i>2018-2019</div>
                            <h3>Master Degree - University</h3>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum impedit cupiditate amet! Quasi itaque magni corrupti dolor laudantium nobis consequuntur.</p>
                        </div>
                    </div>
                    <div class="education-content">
                        <div class="content">
                            <div class="year"><i class="bx bxs-calendar"></i>2019-2020</div>
                            <h3>Master Degree - University</h3>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum impedit cupiditate amet! Quasi itaque magni corrupti dolor laudantium nobis consequuntur.</p>
                        </div>
                    </div>

                </div>
            </div>

            <div class="education-column">
                <h3 class="title">Experience</h3>
                <div class="education-box">
                    <div class="education-content">
                        <div class="content">
                            <div class="year"><i class="bx bxs-calendar"></i>2017-2018</div>
                            <h3>Web Development - Company</h3>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum impedit cupiditate amet! Quasi itaque magni corrupti dolor laudantium nobis consequuntur.</p>
                        </div>
                    </div>
                    <div class="education-content">
                        <div class="content">
                            <div class="year"><i class="bx bxs-calendar"></i>2018-2019</div>
                            <h3>Web Development - Company</h3>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum impedit cupiditate amet! Quasi itaque magni corrupti dolor laudantium nobis consequuntur.</p>
                        </div>
                    </div>
                    <div class="education-content">
                        <div class="content">
                            <div class="year"><i class="bx bxs-calendar"></i>2019-2020</div>
                            <h3>Web Development - Company</h3>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum impedit cupiditate amet! Quasi itaque magni corrupti dolor laudantium nobis consequuntur.</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <!-- skill section -->
    <section class="skills" id="skills">
        <h2 class="heading">My <span>Skills</span></h2>
        <div class="skills-row">
            <div class="skills-column">
                <h3 class="title">Coding Skills</h3>

                <div class="skills-box">
                    <div class="skills-content">
                        <div class="progress">
                            <h3>HTML <span>90%</span></h3>
                            <div class="bar"><span></span></div>
                        </div>

                        <div class="progress">
                            <h3>CSS <span>80%</span></h3>
                            <div class="bar"><span></span></div>
                        </div>

                        <div class="progress">
                            <h3>JavaScript <span>65%</span></h3>
                            <div class="bar"><span></span></div>
                        </div>

                        <div class="progress">
                            <h3>Python <span>75%</span></h3>
                            <div class="bar"><span></span></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="skills-column">
                <h3 class="title">Professional Skills</h3>

                <div class="skills-box">
                    <div class="skills-content">
                        <div class="progress">
                            <h3>Web Design <span>95%</span></h3>
                            <div class="bar"><span></span></div>
                        </div>

                        <div class="progress">
                            <h3>Web Development <span>70%</span></h3>
                            <div class="bar"><span></span></div>
                        </div>

                        <div class="progress">
                            <h3>Graphics Design <span>80%</span></h3>
                            <div class="bar"><span></span></div>
                        </div>

                        <div class="progress">
                            <h3>SEO Marketing <span>65%</span></h3>
                            <div class="bar"><span></span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- <section class="contact">
        <div class="contact-content">
            
        </div>
    </section> -->
</body>

</html>