<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sudip Sojitra</title>
    <link rel="icon" type="image/x-icon" href="../assets/img/a1.png">
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css">

</head>

<body>
    <header class="header">
        <a href="#" class="logo">Sudip Sojitra</a>
        <nav class="navbar">
            <a href="#" class="active">Home</a>
            <a href="#">About</a>
            <a href="#">Services</a>
            <a href="#">Portfolio</a>
            <a href="#">Contact</a>
        </nav>
    </header>

    <section class="home">
        <div class="home-content">
            <h1>Hi, I am Sudip Sojitra</h1>
            <h3>Software Developer</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam enim exercitationem in quod quae consectetur dignissimos esse, ut ratione temporibus natus molestiae unde, voluptates dicta, explicabo excepturi.</p>
            <div class="btn-box">
                <a href="#">Hire Me</a>
                <a href="#">Let's Talk</a>
            </div>
        </div>
        <div class="home-sci">
            <a href="#"><i class="bx bxl-instagram"></i></a>
            <a href="#"><i class="bx bxl-linkedin"></i></a>
            <a href="#"><i class="bx bxl-twitter"></i></a>
        </div>
    </section>
</body>

</html>